
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<h2 class="section-headline">
						<span th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All images'"></span>
					</h2>
				</h2>
			</div>
			
		</div>
		
		<hr style="position:absolute; width:100%; height:6px; background-color: #4682B4; z-index:-1; margin-top:90px;" />
		
		<div class="row" style="margin-top: 120px;">
			<div class="col-xs-9">
			
			<h3><label for="category">Category</label></h3>
				<div class="list-group" id="category">
					<a th:href="@{/imageboard(category='all')}" th:classappend="${activeAll}? 'active'" class="list-group-item">All</a>
					<a th:href="@{/searchByCategory(category='Animals')}" th:classappend="${activeAnimals}? 'active'" class="list-group-item">Animals</a>
					<a th:href="@{/searchByCategory(category='Nature')}" th:classappend="${activeNature}? 'active'" class="list-group-item">Nature</a>
					<a th:href="@{/searchByCategory(category='Ocean')}" th:classappend="${activeOcean}? 'active'" class="list-group-item">Ocean</a>
				</div>
			
			
			
			<div th:if="${emptyList}">
				<h5 style="font-style: italic;">No result is found.</h5>
			</div>
			
			
			<table border="0" id="imageList">
				<thead><tr><th></th></tr></thead>
				<tbody>
				<tr class="image-item" data-th-each="image : ${imageList}">
					<td>
						<div th:if="${image != null}">
							<div class="row" style="margin-bottom: 50px;">
								<div class="col-xs-3">
									<a th:href="@{/imageDetail?id=}+${image.id}"><img class="img-responsive board-image" th:src="#{adminPath}+@{/image/image/}+${image.id}+'.png'"/></a>
								</div>
								<div class="col-xs-9">
									<a th:href="@{/imageDetail?id=}+${image.id}"><h4 th:text="${image.name}"></h4></a>
									<span th:text="${image.publicationDate}"></span>
									<span th:text="${image.author}"></span>
									<a th:href="@{/imageDetail?id=}+${image.id}"><span style="font-size:x-large;color:#db3208;">$<span
									th:text="${#numbers.formatDecimal(image.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span></a>
									
									<span style="text-decoration: line-through;">$<span
									th:text="${#numbers.formatDecimal(image.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span>
									
								</div>
							</div>
						</div>
					</td>
				</tr>
				
				</tbody>
			</table>
				
			
			
			
		
					
					
				</div>
			</div>
		</div>
					
				
	</div>
	<!-- end of container -->


	<div th:replace="common/header :: body-bottom-scripts" />
	
	
</body>
</html>
